@media(max-width: 1181px){
  body{
    padding: 24px;
  }
  .main{
    flex-direction: column;
  }
  .banner,
  .overview{
    width: 100%;
  }
  .banner{
    min-height: 360px;;
  }
  .overview{
    padding: 24px;
  }
  .description{
    max-width: 100%;
  }
  .btn-open{
    max-width: 261px;
    padding-left: 18px;
  }
}
@media(max-width: 520px){
  .banner{
    min-height: 220px;;
  }
  .btn-open{
    max-width: 379px;
    padding-left: 18px;
  }
}
