*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif; 
  font-size: 18px;
  font-weight: 500;
  padding: 36px 40px;
  line-height: 160%;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
a {
  text-decoration: none;
}
a, img {
  border: none;
  outline: none;
}
input {
  border: none;
  outline: none; 
}
.main{
  display: flex;
  max-width: 1840px;
  border-radius: 10px;
  background-color: aliceblue;
  margin: 0 auto;
}
.overview,
.banner{
  width: calc(100% / 2);
}
.overview{
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 105px 70px;
}
.banner{
  background: url(../images/banner.png) center/cover no-repeat;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  min-height: 456px;
}
.title{
  font-size: 30px;
  color: #1f4284;
}
.description{
  max-width: 530px;
  font-weight: 400;
  font-size: 17px;
  color: #727272;
}
.btn-open{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 341px;
  border-radius: 60px;
  padding: 12px 12px 12px 24px;
  background: #244c98;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  white-space: nowrap;
}
.btn-arrow{
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background: #fff;
  padding: 6px;
  transition: all 0.3s ease-in-out
}
.btn-open:hover .btn-arrow{
  transform: rotate(45deg);
}
.modal-background{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.5);}

.modal{
  padding: 24px;
  width: 452px;
  background: #f0f4fc;
  border-radius: 10px;
  padding: 24px;
}
.modal__control{
  display: flex;
  justify-content: flex-end;
}
.btn-close{
  border-radius: 10px;
  padding: 14px;
  width: 52px;
  height: 52px;
  background: #fff;
}
.form{
  display: flex;
  flex-direction: column;
}
.form__title{
  font-weight: 500;
  font-size: 24px;
  color: #323232;
  margin-bottom: 18px;
}
.form__group{
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 24px;
}
.field{
  background: #d7e2f6;
  border-radius: 10px;
  padding: 24px;
  width: 100%;
}
.field,
.field::placeholder{
  font-weight: 500;
  font-size: 18px;
  color: #1f4284;
}
.remember{
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 24px;
}
.remember__label{
  font-weight: 400;
  font-size: 18px;
  color: #323232;
}
input{
  border: none
}
input[type="checkbox"] {
  width: 20px;
  height: 20px; 
  background-color: red;
}
.form-btn{
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}
.btn-filled{
  color: #fff;
  border-radius: 4px;
  padding: 18px 12px;
  background: #244c98;
  margin-bottom: 4px;
  transition: all 0.3s ease-in-out;
}
.btn-filled:hover{
  background: #123983;
}
.btn-bordered{
  border: 1px solid #244c98;
  border-radius: 4px;
  padding: 18px 12px;
  color: #244c98;
  transition: all 0.3s ease-in-out
}
.btn-bordered:hover{
  color: #fff;
  background: #123983;
}
.restore-link{
  font-weight: 500;
  font-size: 20px;
  color: #244c98;
  margin-bottom: 36px;
}